.iconContainer {
  position: absolute;
  top: -40px;
  left: 30px;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  overflow: hidden;
}

.iconContainer label {
  position: absolute;
  top: 0;
  z-index: 10;
}

.iconContainer .noPhoto:hover ~ .cameraIcon {
  display: block;
}

.iconContainer .cameraIcon {
  z-index: 11;
  display: none;
  position: absolute;
}

.iconContainer .cameraIcon * {
  color: #000;
  top: -10px;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100px;
  padding: 15px;
}

.imageContainer {
  position: absolute;
  top: -40px;
  left: 30px;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  overflow: hidden;
}

.image:hover ~ .cameraIconWithImage {
  display: block;
}

.imageContainer .cameraIconWithImage {
  z-index: 11;
  display: none;
  position: absolute;
  top: 0;
}

.imageContainer .cameraIconWithImage * {
  color: #000;
  top: -15px;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100px;
  padding: 15px;
}
